html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    box-sizing: border-box;
}
.d-n{
    display: none !important; 
}
.d-b{
    display: block !important;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
button{
    cursor: pointer;
}