/* in-days */

.in-days{
    padding-top:60px;
    padding-bottom: 90px;
    background: #EBE6E3;
    position: relative;
}
.days__title{
    color:#fff;
}
.red{
    color: #EE6666;
}
.days__number{
    background-color: #FFC93E;
    width: 50px;
    height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    padding:5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    box-shadow:0px 0px 0px 12px #EBE6E3;
}
.days__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:365px;
    margin-bottom: 40px;
    
}
.days__text{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#7D7D7D;
    border-radius: 10px;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100px;
    font-family: 'Lora';
    text-align: center;
    display: flex;
    align-items: center;
}
.days__blocks{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.days__btns{
    margin-top: 10px;
}