/* my-rate */

.my-rate{
    background: #FFC93E;
    padding:40px 0px 60px 0;
    color: #7D7D7D;
    position: relative;
}
.rate__sub{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}
.rate__sub span {
    display: block;
}
.rate__block{
    background: linear-gradient(360deg, #D9D4D1 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding:30px;
    width: 340px;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

color: #7D7D7D;
    
}
.rate__sublocks{
    margin-top: 40px;
    display: flex;
    justify-content:space-evenly;
    margin-left: 230px;
}
.rate__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7D7D7D;
    text-align: center;
    text-decoration-line: underline;
}
.rate__title-block{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-top: 10px;
    color: #7D7D7D;
}
.rate__title{
    color:#fff;
}
.rate__underline{
    text-decoration:line-through;
}

.rate__item{
    list-style: disc ;
    margin-top: 20px;
}
.rate__items{
    padding:0 15px 15px 15px;
    margin-left: 10px;
}
.rate__price{
    text-align: center;
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
}
.rate__btn{
    width: 270px;
    height: 40px;
    background: #FFC93E;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border:none;
    outline: none;
    font-weight: 700;
    font-size: 20px;
    color:#fff;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
}
.rate__btn:hover{
    box-shadow: 0px 4px 4px rgba(112, 109, 62, 0.25);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.rate__btn:active{
    box-shadow: 0px 2px 2px rgba(112, 109, 62, 0.25);
    margin-top: 25px;
}
.rate__block_rec{
    background: linear-gradient(180deg, #EE6666 0% , rgba(228, 220, 215, 0.5) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color:#fff;
    height: 760px;
    position: relative;
}

.rate__block_rec h3,
.rate__block_rec h6 {
    color:#fff;
    text-align: center;
}
.rate__btn_rec{
    background: #EE6666;
}
.rate__btn_rec:hover{
    box-shadow: 0px 4px 4px rgba(112, 62, 79, 0.25);
}
.rate__btn_rec:active{
    box-shadow: 0px 2px 2px rgba(112, 62, 79, 0.25);
    margin-top: 25px;
}
.rate__photo{
    position: absolute;
    width: 435px;
    height: 500px;
    bottom: 0;
    left: 0;
}
.rate__crown{
    position:absolute;
    top: -35px;
    right: 0;
}
.modal-study,
.modal-rec{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    
    width: 700px;
    height: auto;
    display: none;
}
.overlay-forms{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 150vh;
    background-color: rgba(0, 0, 0, 0.363);
    display: none;
}
.modal-active{
    display: block;
}
.lt-block-wrapper{
    padding: 0;
}
.info_price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 15px;
    color: #7D7D7D;

}
.rate__starting{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}
.rate__price_rec{
    color: #EE6666;
}