/* study__plan */
.study__plan{
    padding:40px 0 80px 0;
}
.plan__title{
    color: #7D7D7D;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}
.plan__sublocks{
    display: flex;
    margin-top: 0px;
    justify-content:space-between;
    align-items:center;
}
.plan__block{
    background: #EBE6E3;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content:space-evenly;
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.plan__item{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
}
.plan__subtitle{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #7D7D7D;
    margin-bottom: 20px;
}
.plan__blocks{
    margin-top: 70px;
    width: 100%;
}
.plan__btn{
    text-decoration-line: underline;

    color: #EE6666;
    outline:none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background:transparent;
    
    
}
.plan__btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.study__plan{
    overflow: hidden;
    
}
.plan{
    
    overflow: hidden;
}
.container-study{
    position: relative;
}
.plan__btns{
    position:absolute;
    right: 10px;
    bottom:-50px;
}
.plan__block_zoom{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(238, 102, 102, 0.81) 0%, rgba(238, 102, 102, 0.46) 100%);
}
.plan__zoom-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}
.zoom-img{
    width: 200px;
    height: 150px;
    margin-left: 40px;
}