@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Montserrat:wght@600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.d-n{
    display: none;
}
.d-b{
    display: block;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
button{
    cursor: pointer;
}
/* ---------------- */


/* header */

.header{
    width: 100%;
    
    height: auto;
    padding-bottom: 100px;;
    background-color: #FFC328;
    padding-top:15px;
    /* background: url('../img/fon.jpg') no-repeat center center /cover; */
    clip-path: polygon(50% 0, 100% 0, 100% 96%, 50% 100%, 0 96%, 0 0);
    overflow: hidden;
}
.logo{
    display: flex;
}
.img-responsive{
    position: absolute;
    top: 0;
    right:0;
}
.h-container{
    position: relative;
}
.logo__spans{
    display: flex;
    color: #fff;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.logo__img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.logo__spans{
    flex-direction:column;
    margin-top: 15px;
    margin-left: -5px;
}
.logo__name{
    font-size: 14px;
    line-height: 15px;
}
.logo__school{
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.logo{
    text-decoration: none;
    align-self: center;
}
.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}
.top-offer__list{
    display: flex;
    flex-direction: column;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #EE6666;
    align-items: center;
    padding-right: 20px;
    border-right:2px solid rgba(255, 255, 255, 0.603);
    margin-right: 20px;
}
.top-offer__list:last-child{
    border: none;
}
.top-offer__span{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}
.top-offer{
    display: flex;
}
.burger{
    background-color:transparent;
    border: none;
    cursor: pointer;
}
.offer__title{
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}
.offer__title_span{
    display: block;
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    line-height: 61px;
}
.offer__subtitle{
    color: #7D7D7D;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
}
.offer__btn{
    display: flex;
    cursor:pointer;
    margin-top: 32px;
    width: 350px;
}
.offer__play_img{
    width: 19px;
    height: 19px;
    margin-left: 3px;
}
.offer__play{
    border:none;
    background: #EE6666;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow:0px 0px 0px 7px #FFC328; */
    z-index: 1;
    cursor:pointer;
    position: relative;
}
.offer__play:after{
    content: ' ';
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #EE6666;
    top:-5px;
    left:-4px;
    box-sizing: border-box;
    animation: playAnim 4s linear infinite;

}
@keyframes playAnim {
    0%{
        transform: scale(0.3);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1.2);
    }
}

.offer__btn-text{
    width: 309px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #EE6666;
    display: flex;
    align-items: center;
    justify-content:center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    background: url('../img/rectangle.svg');

}

.offer{
    margin-top: 7%;
    position: relative;
    z-index: 1;
}
.burger__line{
    width: 50px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 5px;
    transition: 0.5s;
}
.burger__center{
    width: 40px;
}
.burger__top{
    width: 30px;
}
.burger:hover .burger__center,
.burger:hover .burger__top {
    width: 50px;
    transition: 0.5s;
}
.burger{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
/* ----------------- */

/* about-course */
.about-course{
    margin-top: 20px;
}
.about__div{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    color: #E4DCD7;
    height: auto;
}
.about-sublock{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-sublocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about__span{
    color: #676566;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 10px;
    line-height: 174.9%;
    max-width: 234px;
    padding:20px;
    height: 66px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin-top: -15px;
    
}
.course__puzzle{
    width: 86.92px;
    height: 79.08px;
}

/* -------------------- */

/* for-help */

.for-help{
    margin-top: 63px;
    padding-bottom: 70px;
}
.help__title{
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    color: #CEC7C3;
    text-align: center;

}

.help__block{
    /* max-width: 620px; */
    flex-basis: 49%;
    height: 190px;
    background: #FFC93E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding:25px;
    margin-bottom: 20px;
}
.help__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 45px;
}
.help__about{
    display: flex;
    align-items: center;
    
}

.help__subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    width: 350px;
    margin-left: 10px;
}

.help__text{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
    margin-top: 13px;
}
.help__btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.help__btn{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #EE6666;
    background-color: transparent;
    transition: 0.5s;
    width: 339.39px;
    height: 40px;
    border:3px solid #EE6666;
    border-radius:10px;
    margin-left: 10px;
}
.help__btn:hover{
    background-color: #EE6666;
    color:#fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

/* ---------------------- */

/* in-days */

.in-days{
    padding-top:60px;
    padding-bottom: 90px;
    background: #EBE6E3;
    position: relative;
}
.days__title{
    color:#fff;
}
.red{
    color: #EE6666;
}
.days__number{
    background-color: #FFC93E;
    width: 50px;
    height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    padding:5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
    box-shadow:0px 0px 0px 12px #EBE6E3;
}
.days__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:365px;
    margin-bottom: 40px;
    
}
.days__text{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color:#7D7D7D;
    border-radius: 10px;
    padding:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100px;
    font-family: 'Lora';
    text-align: center;
    display: flex;
    align-items: center;
}
.days__blocks{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.circle-1{
    width: 338px;
    height: 338px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    left: 90px;
}
.circle-3{
    width: 610px;
    height: 610px;
    left:-40px;
}
.circle-2{
    width: 500px;
    height: 500px;
    left:10px;
}

/* ------------------------ */

/* about-more-cource */

.about-more-cource{
    background: #FFC93E;
    padding:20px 0px 40px 0;
}
.more__items{
    display: flex;
    justify-content:space-between;
}
.more__item{
    font-weight: 900;
    font-size: 110px;
    line-height: 146px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
}
.more__span{
    display: block;
    color: #7D7D7D;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
}

/* ------------------- */

/* after-course */

.after-course{
    padding-top: 60px;
    padding-bottom:55px;
}
.after__title{
    color: #E4DCD7;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}
.after__item_one{
    border-bottom: 2px solid #fb959578;
    border-right: 2px solid #fb959578;
}
.after__item_two{
    border-bottom: 2px solid #fb959578;
}
.after__subtitle{
    color: #7D7D7D;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.after__text{
    color: #7D7D7D;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.after__items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.after__item{
    padding: 10px;
    flex-basis: 49%;
}
.after__text{
    margin-top: 15px;
}
.after__item_three{
    border-right: 2px solid #fb959578;
}

/* ---------------- */

/* for-life */
.for-life{
    background: #EBE6E3;
    padding:40px 0 100px 0;
    height: auto;
}
.life{
    display: flex;
    justify-content:space-between;
}
.life__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #7D7D7D;
}
.life__left{
    margin-top: 50px;
}
.life-block{
    display: flex;
    flex-direction: column;
    
}
.yellow{
    color:#FFC93E;
}
.life-btns{
    margin-top: -100px;
}
.life__btn{
    margin-left: 0;

}
.life__img{
    filter: drop-shadow(-2px -4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    transform: rotate(4.37deg);
    border-right: 10px solid #FFC328;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-bottom: 10px solid #FFC328;
}
.free-btn{
    background: #7D7D7D;
    color: #fff;
    border-color: #7D7D7D;
}

.free-btn:hover{
    background:transparent;
    color: #7D7D7D;
}

/* ---------- */

/* about-study */

.about-study{
    background: #fff;
    padding:40px 0 60px 0;
    color: #7D7D7D;
}

.study__title{
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}
.study__subtext{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
.study__blocks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}
.study__block{
    width: 32%;
    background: #FFC93E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 20px 30px 20px;
}

.study__img{
    background-color: #fff;
    padding: 40px;
    width:100%; 
    border-radius: 5px;
    height: 190px;
}
.study__subtitle{
    margin-top: 20px;
    margin-bottom:10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.study__text{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
}


/* --------------- */

/* more__online */

.more__online{
    background: #EBE6E3;
    padding:40px 0;
}
.online{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.online__block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.online__text{
    margin-top: 15px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
}
.online__img{
    width: 110px;
    height: auto;
}

/* ----------------- */

/* study__plan */
.study__plan{
    padding:40px 0 80px 0;
}
.plan__title{
    color: #7D7D7D;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}
.plan__sublocks{
    display: flex;
    margin-top: 0px;
    justify-content:space-between;
    align-items:center;
}
.plan__block{
    background: #EBE6E3;
    border-radius: 5px;
    padding:20px 20px;
    margin-bottom: 20px;
}
.plan__item{
    font-family: 'Lora';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7D7D7D;
}
.plan__subtitle{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #7D7D7D;

}
.plan__blocks{
    margin-top: 70px;
    width: 100%;
}
.plan__btn{
    text-decoration-line: underline;

    color: #EE6666;
    outline:none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background:transparent;
    
    
}
.plan__btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.study__plan{
    overflow: hidden;
    
}
.plan{
    
    overflow: hidden;
}
.container-study{
    position: relative;
}
.plan__btns{
    position:absolute;
    right: 10px;
    bottom:-50px;
}
/* ---------------- */

/* our-abstracts */

.our-abstracts{
    background-color: #ffc93d;
    color:#fff;
    padding:40px 0 60px 0;
}
.abstracts__title{
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
}
.abstracts__subtitle{
    /* width: 50%; */
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}
.abstracts__imgs{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;
}
.abstracts__img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 270.16px;
    height: 360.37px;
}

/* ----------------- */

/* my-reviews */

.my-reviews{
    padding: 40px 70px;
    background: #FFFFFF;
    position: relative;

    overflow: hidden;
}
.slide__title{
    color: #EE6666;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.slide__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #7D7D7D;
}
.slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin-right: 40px;
}
.slide__left{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    justify-content: space-evenly;
}
.img-slide{
    width: 484px;
    height: 483px;
}
.slider{
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    height: 550px;
}
.slides{
    display: flex;
    flex-wrap: nowrap;
    position:absolute;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.slider-container{
    overflow: hidden;
    width: 1170px;
}
.img-arr{
    z-index: 1;
    position: absolute;
    transition: 0.5s;
}
.slider-btn{
    position: absolute;
    top:50%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    transform:translate(0, -50%);
}
.prev__btn{
    left:0px;
}
.next__btn{
    right: 0;
}
.prev__btn::before{
    content:"";
    display: block;
    width: 140px;
    height: 140px;
    background: #EBE6E3;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    position: absolute;
    z-index: 0;
    left:-70px;
    
}
.img-arr-prev{
    margin-left: 50px;
}
.prev__btn:hover .img-arr-prev{
    margin-left: 35px;
    transition: 0.5s;
}
.next__btn:hover .img-arr-next{
    margin-left: 35px;
    transition: 0.5s;
}
.next__btn::before{
    content:"";
    display: block;
    width: 140px;
    height: 140px;
    background: #EBE6E3;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    position: absolute;
    z-index: 0;
    right: -70px;
}
.img-arr-next{
    margin-left: 50px;
}

.next__btn{
    right: 0;
    z-index: 1;
    transform:rotate(180deg) translate(0, 50%);
    -webkit-transform:rotate(180deg) translate(0, 50%);
    -moz-transform:rotate(180deg) translate(0, 50%);
    -ms-transform:rotate(180deg) translate(0, 50%);
    -o-transform:rotate(180deg) translate(0, 50%);
}

.slide__right{
    position: relative;
}

.slider__link{
    width: 102.63px;
    height: 102.63px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom:0px;
    right:0px;
}
.img-inst{
    width: 44px;
    height: 44px;
}
.slider__link::after{
    display: block;
    content: '';
    width: 35px;
    height: 35px;
    border-color: transparent;
    border-radius: 5px;
    border: 2px solid #fb9595;
    position: absolute;
}
.slider__link:hover::after{
    animation: instHover 2s linear infinite;
}

@keyframes instHover {
    0%{
        opacity: 0;
        transform: scale(0.3);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.8);
        opacity: 0;
    }
}
/* ----------------------------- */


/* my-rate */

.my-rate{
    background: #FFC93E;
    padding:40px 0px;
    background: url('../img/rate2.jpg') no-repeat center center /cover;
}
.rate__subtitle{
    width: 100%;
}
.rate__all{
    display: flex;
}
.rate__sub{
    width: 100%;
}
.rate__all{
    margin-top: 50px;
}
.rate__subtitle{
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #7D7D7D;
    text-decoration-line: underline;
}
.rate__item{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #7D7D7D;
    list-style: circle;
    margin-bottom: 5px;
}
.rate__rec{
    padding:20px;
    background: #EBE6E3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 375px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rate__subtitle{
    text-align: center;
    margin-top: 46px;
}
.rate__items{
    padding:15px 20px;
    margin-top: 15px;
}
.rate__price{
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    margin-top: 15px;
    color: #7D7D7D;
}
.rate__btn{
    background: #FFC93E;
    border-radius: 5px;
    width: 305px;
    height: 44px;
    border: none;
    color: #FFFFFF;
    margin-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.rate__standart{
    height: auto;
    background: #FB9595;
    color:#fff;
    margin-left: 70px;
}
.rate__price_standart,
.rate__subtitle_standart,
.rate__items__standart li {
    color:#fff;
}
.rate__btn_standart{
    background:#fff;
    color:#FB9595;
}

/* ----------- */

@media screen and (max-width:1100px){
    .abstracts__img{
        width: 25%;
        height: auto;
    }
    .abstracts__imgs{
        width: 100%;
    }
    .about-sublocks{
        justify-content: space-around;
    }
    .about-sublock{
        margin-bottom: 50px;
    }
}
@media screen and (max-width:992px){
    .img-responsive{
        position:fixed;
    }
    .help__block{
        flex-basis:100% ;
    }
    
    .life{
        flex-wrap: nowrap;
    }
    .free-btn{
        margin-top: 30px;
    }
    .my-reviews{
        padding:40px 0px;
    }
    .rate__all{
        justify-content: center;
    }
    .reviews__number{
        margin-bottom: 20px;
    }
    .reviews__numbers {
        justify-content: space-around;
    }
    .life{
        flex-direction: column;
        align-items: center;
    }
    .life-btns{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .life__title{
        text-align: center;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:768px){
    .about-sublocks{
        justify-content:space-between;
    }
    .days__block{
        flex-basis: 45%;
    }
    .more__items{
        flex-wrap: wrap;
        justify-content: center;
    }
    .more__item{
        font-size: 85px;
        width: auto;
    }
    .help__btns{
        justify-content:space-between;
    }
    .logo__img,
    .burger{
        display: none;
    }
    .top-offer__list{
        padding-right: 10px;
    }
    .study__block{
        width: 100%;
        margin-bottom: 20px;
    }
    .plan__right{
        display: none;
    }
    .rate__all{
        flex-direction: column;
        align-items: center;
        
    }
    .rate__rec{
        width: 100%;
    }
    .rate__standart{
        margin-left: 0;
        margin-top: 20px;
    }
    .header{
        padding-bottom: 95px;
    }
    .help__btn{
        font-size: 15px;
    }
}

@media screen and (max-width:576px){
    
    .offer{
        text-align: center;
    }
    .offer__title{
        font-size: 46px;
        margin-top: 170px;
    }
    .header{
        clip-path: none;
        
    }
    .img-responsive{
        position:absolute;
    }
    .header{
        height: 500px;
    }
    .offer-m__span{
        display: none;
    }
    .about-sublock{
        width: 125px;
        margin-right: 10px;
    }
    .about__span{
        height: 90px;
        font-family: 'Lora';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 174.9%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .offer__subtitle{
        font-size: 10px;
        font-weight: 700;
        color: #fff;
        line-height: 125%;
    }
    .offer__btn{
        width: 100%;
        display: flex;
        justify-content:center;
    }
    .help__btns{
        flex-direction: column;
        align-items: center;
    }
    .help__btn{
        margin-bottom: 30px;
        margin-left: 0;
    }
    .help__block{
        width: 100%;
        padding:10px 20px 20px 20px;
        height: auto;
    }
    .for-help{
        margin: 0;
        
    }
    .days__blocks{
        display: block;
    }
    .days__block{
        flex-basis: 100%;
        width: 100%;
    }
    .days__text{
        width: 100%;
    }
    .more__items{
        flex-direction: column;
    }
    .more__item{
        width: 100%;
        text-align: center;
    }
    .more__item{
        font-size: 120px;
    }
    .abstracts__title,
    .after__title{
        font-size: 50px;
    }
    .study__block{
        width: 100%;
        margin-bottom: 20px;
    }
    .online__block{
        flex-basis:50%;
        margin-bottom: 20px;
    }
    .plan__right{
        display: none;
    }
    .abstracts__subtitle{
        width: 100%;
    }
    .reviews__adv{
        flex-direction: column;
        padding: 0;
    }
    .reviews__block{
        margin-top: 20px;
    }
    .reviews__img{
        margin-top: 20px;
    }
    
    .abstracts__imgs{
        flex-direction: column;
    }
    .abstracts__img{
        width: 100%;
    }
    .logo{
        display: none;
    }
    .top-menu{
        justify-content:center;
    }
    .in-days__circles{
        display: none;
    }
    .after__item{
        flex-basis: 100%;
    }
    .after__item{
        border:none;
        padding: 10px 0px;
        border-bottom: 2px solid #fb959578;
    }
    .plan__title,
    .abstracts__title,
    .rate__title,
    .study__title,
    .after__title,
    .help__title {
        font-size: 30px;
        line-height: 37px;
        color: #7D7D7D;
    }
    .abstracts__title{
        color:#fff;
    }
    .about-sublocks{
        justify-content: space-around;
    }

    .top-offer__list{
        margin: 0;
        border-right:none;
    }
    .top-offer{
        justify-content:space-around;
        width: 100%;
    }
    .offer__title_span{
        font-size: 55px;
    }
    .help__img{
       margin-right: 10px;
    }
    .help__subtitle{
        margin: 0;
    }
    .after__item{
        border:none;
    }
    .study__subtitle{
        font-size: 18px;
    }
}
@media screen and (max-width:400px){
    .help__btn{
        width: 100%;
    }
}
.menu{
    position:fixed;
    top:0;
    right: 0;
    width: 259px;
    height: 580px;
    background: #ffffff;
    border-radius: 15px 0px 0px 15px;
    transform:translateX(260px);
    -webkit-transform:translateX(260px);
    -moz-transform:translateX(260px);
    -ms-transform:translateX(260px);
    -o-transform:translateX(260px);
    transition: 0.5s;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    /* background-color: #44424256; */
    background-color: transparent;
    display: none;
}
.menu__link{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    display: inline-block;
    color: #7D7D7D;
    text-decoration: none;
    transition: 0.5s;
}
.menu__link::after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background-color: #7D7D7D;
    margin-top: 5px;
    transition: 0.5s;
}
.menu__link:hover::after{
    width: 100%;
    transition: 0.5s;
}
.menu__items{
    padding:54px;
    margin-top: 30px;
}
.menu__item{
    list-style:none;
    margin-bottom: 10px;
}

.menu__net{
    display: flex;
    align-items: center;
    justify-content:start;
    margin-left: 54px;
    margin-top: 60px;
}
.menu__netItem{
    margin-right: 30px;
}
.menu__netLinks{
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu__netLinks::after{
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background-color: transparent;
    border: 1px solid #EE6666;
    border-radius: 5px;
    position: absolute;
    left:2.2px;
    transform: 0.5s;
    opacity: 0;
}
.insta-net::after{
    border-color: #f12e80;
}
.telegram-net::after{
    border-color: #0088cc;
}
.youtube-net::after{
    border-color: #ee6666;
}
.menu__netLinks:hover::after{
    animation: animNetSvg 2s linear infinite;
}
@keyframes animNetSvg{
    0%{
        scale: (0.3);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.8);
        opacity: 0;
    }
}
.svg__net{
    width: 27px;
    height: 27px;
}
.close__line{
    width: 30px;
    height: 2px;
    background-color: #676566;
    display: block;
}
.close__menu{
    position: absolute;
    top:40px;
    right:40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.close__top{
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}
.close__bottom{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    margin-top: -2px;
}
.overlay-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #67656675;
    top:0;
    left:0;
}
.postVideo{
    position: absolute;
    z-index: 5;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
