@media screen and (max-width:1440px){
    .img-slide{
        height: auto;
    }
    .slide__left{
        width: 50%;
    }
    
    /* .slide{
        justify-content: space-around;
    } */
    .slider-container{
        padding: 0;
    }
}

@media screen and (max-width:1200px){
    .author__subblock{
        width: 100%;
    }
    .author__subblock:nth-child(odd) {
        margin-right: 0px;
    }
    .author__subblock:last-child{
        width: 100%;
    }
    .author__subblock:nth-child(4){
        width: 100%;
    }
    .author__subblocks{
        margin-top: 40px;
    }
    .author__title {
        font-size: 40px;
    }
    .author__br{
        display: inline-block;
    }
}

@media screen and (max-width:1100px){

    .abstracts__img{
        width: 25%;
        height: auto;
    }
    .abstracts__imgs{
        width: 100%;
    }
    .about-sublocks{
        justify-content: space-around;
    }
    .about-sublock{
        margin-bottom: 50px;
    }
}